extends ../layout

block content
  h1 New User
  form(action='/users' method='post')
    .form-group
      label(for='name') Name
      input(type='text' name='name')
    .form-group
      label(for='email') Email
      input(type='email' name='email')
    .form-group
      input(type='submit' value='Save' class='btn btn-primary')
