extends ../layout

block content
  h1= user.name
  p= user.email

  a(href="/users/#{user._id}/edit") Edit
  form(action="/users/#{user.id}?_method=delete" method="POST")
    input(type="submit" value="Delete")
