<div id="map" class="map" style='width: 100%; height: 400px;'>
  <script>
  handler = Gmaps.build('Google');
  var map = handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @apartment_listing.latitude %>,
        "lng": <%= @apartment_listing.longitude %>,
        "infowindow": " + <%= @apartment_listing.title %> + "
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(17);
  });
  </script>
</div>
