<style>


</style>


<form action="/entertask" method="post">
  <div>
    <label for="task">Please enter your task detail:</label>
    <textarea name="task-detail" required></textarea>
  </div>

  <div>
    <input type="submit" value="Enter" />
  </div>

  <div>
    <a href="/">Cancel</a>
  </div>
</form>
