<style>

body{
  background-image: url("images/notes.png");
  background-repeat: no-repeat;
  background-position: 500px 50px;
}

h1{

  background-color: purple;
color:beige;
}

p{
  font-family: sans-serif;
  font-size: 20px;
}

</style>
<h1>Notes for <%= session[:name] %></h1>

<a href="/">Go back to home page</a> <br />
<a href="/addnote">Add a New Note</a>


<% if !session[:notes][session[:name]]%>
<p> You don't have any notes yet! </p>
<% else %>
<% session[:notes][session[:name]].each do |x| %>
<div class="title"><%= x[0] %></div>
<div class="body"><%= x[1] %></div>
<% end %>
<% end %>
