<form method="post" action="/selectlanguage" >
  <div>
    <label for="name" >Please enter your name</label>
    <input type="text" id="name" name="name" />
  </div>

  <div>
    <select name="language">
      <option value="english">English</option>
      <option value="french">French</option>
      <option value="spanish">Spanish</option>
    </select>
  </div>

  <div>
    <input type="submit" value="save" />
  </div>
</form>
