<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= @title || "My First Sinatra App"%></title>
  <link rel="stylesheet" type="text/css" href="css/survey.css">
</head>
<body>
  <%= yield %>
</body>
</html>
