<h1>Generate Company Catch Phrase</h1>

<!-- Submit something to server always start with form -->

<!-- action : url
method: http verb (only GET and POSt)-->
<form action="/company" method="POST">
  <input type="submit" value="Generate!">
</form>

  <%=@phrase %>
