<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Easy Rent</h1>
    <h3>Reserve your room today</h3>
    <div class="container welcome-search-bar">
      <section>
        <span class="input-list clearfix">
          <input type="text" placeholder="Location, eg. Vancouver" class="focus" id="destination">
          <input type="text" placeholder="Check-in date" class="focus" id="checkin-date">
          <input type="text" placeholder="Check-out date" class="focus" id="checkout-date">
          <input type="submit" class="btn btn-warning" id="search-button" value="Go!"/>
        </span>
      </section>
    </div>
  </div>
</header>
