<div class="field_with_errors"><%= @review.errors.full_messages.join(",") %></div>
<%= form_for [@product, @review], remote:true do |f| %>
<%#= f.label :body %>
<%= f.text_area :body, placeholder: "Review"%>
<%= f.submit %>
<% end %>
